:root
{
    --ensc-white: #F0F0F0;
    --ensc-lightgrey: #606266;
    --ensc-grey: #2F3136;
    --ensc-darkgrey: #202225;
    --ensc-black: #181A1F;
}

html,
body
{
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;

    font-family: "Ubuntu";
}

.positive
{
    color: #50911B;
}

.negative
{
    color: #911B1B;
}

#panel-sections
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    max-width: 400px;

    background: var(--ensc-grey);
    border-right: 6px solid var(--ensc-darkgrey);
    color: var(--ensc-white);
}

#panel-sections #panel-sections-header
{
    padding: 20px 0px 20px 0px;

    font-size: 180%;
    font-weight: bold;
}

#panel-sections ul#panel-sections-titles
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    height: 100%;
    padding: 0;
    list-style-type: none;
}

#panel-sections ul#panel-sections-titles li.panel-sections-title
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 20px 20px 0px;
    cursor: pointer;
    user-select: none;
    transition: 0.2s;
}

#panel-sections ul#panel-sections-titles li.panel-sections-title:hover
{
    background-color: var(--ensc-lightgrey);
}

#panel-sections ul#panel-sections-titles li.panel-sections-title .panel-sections-title-icon
{
    padding: 0px 10px 0px 10px;
    font-size: 22px;
}

#panel-sections ul#panel-sections-titles li.panel-sections-title .panel-sections-title-icon i
{
    width: 40px;
    text-align: center;
}

#panel-sections ul#panel-sections-titles li.panel-sections-title .panel-sections-title-name
{
    font-size: 100%;
    font-weight: lighter;
}

#panel-sections ul#panel-sections-titles li.panel-sections-description
{
    margin: auto auto 0px auto;
    padding: 0px 20px 0px 20px;

    font-size: 80%;
    text-align: center;
    color: var(--ensc-lightgrey);
}

#panel-page
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-grow: 1;
    flex: 3;

    background: var(--ensc-white);
    color: var(--ensc-black);

    overflow-y: scroll;
}

#panel-page ul#panel-page-articles
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;

    list-style-type: none;
}

#panel-page ul#panel-page-articles li.panel-page-article
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0px 0px 20px 0px;
    padding: 20px 30px 20px 30px;

    box-shadow: 0px 10px 10px -5px #656565;
}

#panel-page ul#panel-page-articles li.panel-page-article .panel-page-article-name
{
    margin: 0px 0px 20px 0px;
    font-size: 2.2vw;
    font-weight: bold;
}

#panel-page ul#panel-page-articles li.panel-page-article .panel-page-article-description
{
    width: 100%;
}

#panel-page ul#panel-page-articles li.panel-page-article .panel-page-article-elements
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

#panel-page ul#panel-page-articles li.panel-page-article .panel-page-article-element
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 40px 00px 40px 0px;
}

#panel-page ul#panel-page-articles li.panel-page-article .panel-page-article-element .panel-page-article-element-icon
{
    flex: 1;
    width: 50%;
    padding: 20px 20px 20px 20px;
    text-align: center;
}

#panel-page ul#panel-page-articles li.panel-page-article .panel-page-article-element .panel-page-article-element-icon img
{
    width: 100%;
}

#panel-page ul#panel-page-articles li.panel-page-article .panel-page-article-element .panel-page-article-element-image
{
    flex: 1;
    max-width: 20vw;
    padding: 20px 20px 20px 20px;
    text-align: center;
}

#panel-page ul#panel-page-articles li.panel-page-article .panel-page-article-element .panel-page-article-element-image,
#panel-page ul#panel-page-articles li.panel-page-article .panel-page-article-element .panel-page-article-element-image img
{
    max-width: 40vw;
    border-radius: 1vw 1vw 1vw 1vw;
}

#panel-page ul#panel-page-articles li.panel-page-article .panel-page-article-element .panel-page-article-element-text
{
    font-size: 2vw;
    text-align: center;
}

#panel-page ul#panel-page-articles li.panel-page-article .panel-page-article-element .panel-page-article-element-text-sm
{
    font-size: 1.6vw;
    text-align: center;
}

#panel-page ul#panel-page-articles li.panel-page-article .panel-page-article-element .panel-page-article-element-legend
{
    font-size: 1.2vw;
    font-weight: lighter;
    text-align: center;
}

#panel-page ul#panel-page-articles li.panel-page-article .panel-page-article-connector
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    font-size: 4vw;
}
