@font-face
{
    font-family: "Ubuntu";
    src: url("../webfonts/UbuntuRegular.ttf");
    font-stretch: normal;
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: "Ubuntu";
    src: url("../webfonts/UbuntuRegularItalic.ttf");
    font-stretch: normal;
    font-weight: normal;
    font-style: italic;
}

@font-face
{
    font-family: "Ubuntu";
    src: url("../webfonts/UbuntuBold.ttf");
    font-stretch: normal;
    font-weight: bold;
    font-style: normal;
}

@font-face
{
    font-family: "Ubuntu";
    src: url("../webfonts/UbuntuBoldItalic.ttf");
    font-stretch: normal;
    font-weight: bold;
    font-style: italic;
}

@font-face
{
    font-family: "Ubuntu";
    src: url("../webfonts/UbuntuLight.ttf");
    font-stretch: normal;
    font-weight: lighter;
    font-style: normal;
}

@font-face
{
    font-family: "Ubuntu";
    src: url("../webfonts/UbuntuLightItalic.ttf");
    font-stretch: normal;
    font-weight: lighter;
    font-style: italic;
}

@font-face
{
    font-family: "Ubuntu";
    src: url("../webfonts/UbuntuCondensed.ttf");
    font-stretch: condensed;
    font-weight: normal;
    font-style: normal;
}
